ci:
  autofix_prs: false
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-ast
    - id: check-case-conflict
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ['--fix=lf']
    - id: trailing-whitespace

-   repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']

-   repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        args: ['--make-summary-multi-line', '--pre-summary-newline', '-ri']

-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    - id: isort

-   repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
    - id: black

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [css, scss, javascript]
