exclude  tox.ini
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .stylelintrc

prune .circleci/
prune .github/
prune docs/
prune examples/
prune  tools/

recursive-include src/sunpy_sphinx_theme/sunpy/ *
