[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2", "wheel"]
build-backend = 'setuptools.build_meta'

[project]
name = "sunpy-sphinx-theme"
authors = [
  {name = "The SunPy Developers"},
]
description = "The sphinx theme for the SunPy website and documentation."
dynamic = ["version"]
readme = "README.md"
license = { file = "LICENSE.md" }
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Framework :: Sphinx",
  "Framework :: Sphinx :: Theme",
  "Operating System :: OS Independent",
  "License :: OSI Approved :: BSD License",
]
requires-python = ">=3.7"
dependencies = [
  "sphinx-bootstrap-theme",
  "sphinx<6"
]

[project.entry-points]
"sphinx.html_themes" = { sunpy = "sunpy_sphinx_theme" }

[tool.setuptools]
include-package-data = true

[tool.setuptools_scm]

[tool.black]
line-length = 120
target-version = ["py39"]
include = '\.pyi?$'
exclude = '''
/(
  \.eggs
  | \.git
  | \.tox
  | \.venv
  | _build
  | build
  | dist
  | \.history
)/
'''

[ tool.gilesbot ]
  [ tool.gilesbot.circleci_artifacts.giles ]
    url = "testpackage/_build/html/index.html"
    message = "testpackage docs preview"
    report_on_fail = true

  [ tool.gilesbot.circleci_artifacts.website ]
    url = "sunpy.org/_build/html/index.html"
    message = "SunPy website preview"
    report_on_fail = true

  [ tool.gilesbot.circleci_artifacts.sunpydocs ]
    url = "sunpy/docs/_build/html/index.html"
    message = "sunpy docs preview"
    report_on_fail = true
